@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
body {
  font-family: "Notable", sans-serif;
}
.status-bar {
  display: flex;
  justify-content: space-between;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
